<h2>Search Books</h2>

<form action="/books" method="get">
  <div class="form-group m-2">
    <label for="book">Book Title</label>
    <input
      type="text"
      class="form-control"
      id="book"
      name="title"
      aria-describedby="book title"
      placeholder="Enter Book Title"
      value="<%= searchOptions.title %>"
    />
  </div>

  <div class="form-group m-2">
    <label for="publishedAfter">Published After</label>
    <input
      type="date"
      class="form-control"
      id="publishedAfter"
      name="publishedAfter"
      aria-describedby="published After"
      value="<%= searchOptions.publishedAfter %>"
    />
  </div>

  <div class="form-group m-2">
    <label for="publishedBefore">Published Before</label>
    <input
      type="date"
      class="form-control"
      id="publishedBefore"
      name="publishedBefore"
      aria-describedby="published Before"
      value="<%= searchOptions.publishedBefore %>"
    />
  </div>

  <div class="m-2">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<br />
<% books.forEach(book => { %>
<div>
  <img height="150" width="100" alt="" src="<%= book.coverImagePath %>" />
  <span><%= book.name %></span>
</div>
<% }) %>
